body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.grid {
  height: 750px;
  top: 100px;
  left: 75px;
}

.grid .ui-grid-header-cell {
  height: 60px;
}

.ui-grid-row .ui-grid-cell {
  background-color: inherit;
}

.green {
  background-color: #2dff07;
  color: #006400;
}

.yellow {
    background-color: #ff9900;
    color: #ff8800;
}
.red {
  background-color: #1fe0f0;
  color: #dd1122;
}
