<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>G7 Travel Monitor</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Kelly+Slab" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- jQuery, transit (for animations), date.js and the solari board -->
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.transit.min.js"></script>
    <script type="text/javascript" src="javascripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="javascripts/date.js"></script>
    <script type="text/javascript" src="javascripts/solari.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/solari.css" />

    <script>
        $(document).ready(function() {
            addSolariBoard();
        });
    </script>
</head>
</html>
